<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="person"
		class="com.selflearning.spring.test.sample1.Person">
		<constructor-arg value="777" name="id"></constructor-arg>
		<constructor-arg value="Sean" name="name"></constructor-arg>
		<property name="taxId" value="123"></property>
	</bean>
</beans>
